*Zone.Identifier
.ipynb_checkpoints
__pycache__
classifier
classifier.*
*.log
datasets/bike_gradient_boosting
datasets/bike_random_forest
datasets/kdd_k_neighbors_classifier
*.h5
!model/*
*.DS_Store
.vscode/settings.json
